* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  /* font-size: 62.5%; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel-item img {
  width: 100%;
  height: 50vh;
}
.carousel-caption {
  display: none !important;
}
.feature-products {
  padding: 2rem 0rem;
  background: #f0efef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.feature-products :last-child {
  margin-right: 0px !important;
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  box-shadow: #1a1533;
  -webkit-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.75);
}
.card {
  transition: all 0.3s ease-out;
}
.card img {
  width: 100%;
}
.active {
  color: red !important;
}
.button {
  background-color: #4093ff;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
}
.caption {
  position: absolute;
  right: 4px;
  background: #e6e4e4;
  width: 8rem;
  top: 4px;
  border-radius: 50px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}

/* start category css */
.category {
  width: 15%;
  height: 665px;
  background: #000000;
  color: #fff;
}
.category_item {
  cursor: pointer;
}

.category_item:hover {
  font-size: 1.2rem;
  color: rgb(144, 58, 58);
}
.cate-dropdown {
  width: 100%;
  height: 1.8rem;
  border-radius: 3px;
  border: none;
  outline: none;
}
/* end category css */

/* free shiping css */
.free-shiping {
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  display: flex;
  width: 100%;
  align-items: center;
  height: 8rem;
  background: #e2e2e2;
  flex-wrap: wrap;
}
.shiping-item:first-child {
  border-left: none;
}
.shiping-item {
  display: flex;
  border-left: 1px solid black;
  padding-left: 2rem;
  flex-wrap: wrap;
}
.shiping-text {
  margin-left: 0.5rem;
  line-height: 1;
}

.shiping-text p {
  line-height: 1.3;
  font-weight: 500;
}
.p-3 {
  font-size: 1.25rem;
  text-align: left;
  padding: 0rem 1rem !important;
}
/* and free shiping css */

/* start single Product css */
.single-product {
  text-align: left;
  padding-left: 3rem;
  width: 40%;
}
.single-product p {
  margin-bottom: 0.8rem;
}
.delivery-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4e2e2;
  text-align: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}
.delivery-status p {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
.stock-text {
  margin-top: 1rem;
  font-size: 1.1rem;
  border-bottom: 2px solid #494949;
  padding-bottom: 0.7rem;
}
.stock-text p {
  margin-bottom: 0.5rem;
}
.stock-btn {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  padding-left: 0.1rem;
  margin-bottom: 1rem;
}
.short-img {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

@media only screen and (max-width: 812px) {
  .single-product-img {
    width: 100%;
  }
  .single-product {
    width: 70%;
    padding-left: 0.5rem;
  }
}
@media only screen and (max-width: 568px) {
  .single-product {
    width: 95%;
    padding-left: 0.5rem;
  }
}
/* end single Product css */

/* start footer css */
.footer {
  width: 100%;
  height: auto;
  background: #1a1533;
  margin-top: 10rem;
  color: #fff;
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
}
.footer .col-md-3 {
  text-align: center;
}
.footer .about-us h4 p {
  text-align: left !important;
}
.social-page {
  font-size: 2rem;
}
.follow-page {
  padding-left: 4rem;
}
.social-page span {
  margin-right: 2rem;
  cursor: pointer;
}
.subscribe-details {
  padding-left: 1rem;
}
.subscribe-details input {
  width: 73%;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 2.7rem;
  padding-left: 0.5rem;
}
.subscribe-details button {
  width: 73%;
  padding: 0.3rem 0rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  background-color: #7a84ff;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.activeClass {
  -webkit-box-shadow: 1px -1px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 11px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}
.short-img img:hover {
  -webkit-box-shadow: 1px -1px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 11px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
  transition: all 0.5s;
}
.short-img img {
  transition: all 0.2s ease-out;
}

@media only screen and (max-width: 992px) {
  .footer .col-md-3 {
    width: 33%;
  }
  .contact-details {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer .col-md-3 {
    width: 50%;
  }
  .subscribe-details {
    padding-left: 0rem;
    margin-top: 1.5rem;
  }
  .contact-details {
    margin-top: 1.5rem;
    padding-left: 4rem;
  }
}

@media only screen and (max-width: 568px) {
  .footer .col-md-3 {
    width: 100%;
  }
  .subscribe-details {
    padding-left: 0rem;
    margin-top: 1.5rem;
  }
  .follow-page {
    margin-top: 1.5rem;
    padding-left: 0rem;
  }
  .contact-details {
    margin-top: 1.5rem;
    padding-left: 0rem;
  }
}

/* end footer css */

/* start all prduct css */

.main-allProduct {
  padding-top: 5rem;
  margin-bottom: -160px;
  padding-bottom: 5rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 118, 1) 1%,
    rgba(0, 212, 255, 1) 100%
  );
}

.flexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
}

.allproduct img {
  height: 230px;
  width: 100%;
}
.allproduct p {
  margin-bottom: 0.5rem;
}

.allproduct .card-text {
  font-size: 0.8rem;
}
/* end all prduct css */

/* start cart page css */
/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"); */

* {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.my-cart {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container > h1 {
  padding: 20px 0;
}

.cart {
  display: flex;
  flex-wrap: wrap;
}

.products {
  flex: 0.75;
}

.product {
  display: flex;
  width: 100%;
  height: 240px;
  overflow: hidden;
  border: 1px solid silver;
  margin-bottom: 20px;
}

.product:hover {
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.product > img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.product > img:hover {
  transform: scale(1.04);
}

.product-info {
  padding: 20px;
  width: 100%;
  position: relative;
}

.product-name,
.product-price,
.product-offer {
  margin-bottom: 20px;
}

.product-remove {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.product-remove:hover {
  background-color: white;
  color: green;
  font-weight: 600;
  border: 1px solid green;
}

.product-quantity > input {
  width: 40px;
  padding: 5px;
  text-align: center;
}

.fa {
  margin-right: 5px;
}

.cart-total {
  flex: 0.25;
  margin-left: 20px;
  padding: 20px;
  height: 250px;
  border: 1px solid silver;
  border-radius: 5px;
}

.cart-total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
  flex-wrap: wrap;
}

.cart-total a {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: tomato;
  color: white;
  text-decoration: none;
}

.cart-total a:hover {
  background-color: red;
}

@media screen and (max-width: 700px) {
  .remove {
    display: none;
  }

  .product {
    height: 150px;
  }

  .product > img {
    height: 150px;
    width: 200px;
  }

  .product-name,
  .product-price,
  .product-offer {
    margin-bottom: 10px;
  }
}
.product-quantity svg rect {
  fill: #fff;
}

@media screen and (max-width: 900px) {
  .cart {
    flex-direction: column;
  }

  .cart-total {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}

/* end cart page css */

/* start media quary */
@media only screen and (max-width: 768px) {
  .free-shiping {
    height: auto;
    padding-left: 1rem;
  }
  .feature-products .col-sm-3 {
    margin-right: 3rem !important;
  }
  .feature-products .col-sm-3:last-child {
    margin-right: 0rem !important;
  }
  .p-d {
    display: block;
    width: 100%;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 560px) {
  .free-shiping {
    height: auto;
    padding-top: 2rem;
    text-align: left;
    display: inline-grid;
  }
  .shiping-item {
    border: none;
  }
  .feature-products .col-sm-3 {
    margin-right: 0rem !important;
  }
}

@media only screen and (max-width: 992px) {
  .free-shiping {
    height: auto;
    padding-left: 1rem;
  }
  .p-d {
    display: block !important;
    width: 100% !important;
    font-size: 1.25rem;
  }
}
/* end media quary */

/* start star rating css */
.icon-style span {
  padding-right: 0.2rem;
}
.icon-style span svg {
  color: #ffad0e;
}
.icon-style p {
  display: inline;
  padding-left: 1rem;
}

/* end star rating css */

/* start search box css */

.search-box {
  width: 100%;
  text-align: right;
  padding: 0rem 5rem 2rem 0rem;
}
.search-box input {
  width: 173px;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
  outline: #00cdf5;
  padding-left: 1rem;
}
.search-box button {
  outline: none;
  border: none;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  background: #1086ff;
  color: #fff;
  margin-left: 0.5rem;
}

/* end search box css */

/* Start contact page css */

.ring {
  border-top: red 1px solid;
  height: 37px;
  border: none;
  outline: none;
  border-bottom: solid 1px green;
  border-radius: 5px;
}

.ring:focus::placeholder {
  top: 0;
  position: absolute;
  font-size: 0.6rem;
  transition: all 0.6s;
}

.ring {
  padding-left: 0.5rem;
}

.text-md-left .btn {
  margin-top: 2.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1px 32px;
  margin-bottom: 2rem;
}

.bg-img {
  background-image: url("https://i.postimg.cc/GpKjrB4F/istockphoto-178160053-612x612.jpg");
  background-size: 100% 100%;
}
.contentDiv {
  position: "absolute";
}

@media only screen and (max-width: 782px) {
  .contentDiv {
    position: "unset";
  }
  .bg-img {
    width: 100%;
  }
}

/* end contact page css */
